workDir = '/Users/mohamedmahgoub/Documents/github/scratch'

params {
    input = 'https://raw.githubusercontent.com/m-mahgoub/test-datasets/main/nf-core-ttmap/test/samplesheet_v4.csv'
    index_path = '/Users/mohamedmahgoub/Documents/Lab/dev/t2t/pre_test/test_data/ref/bwa_index'
    fasta      = '/Users/mohamedmahgoub/Documents/Lab/dev/t2t/pre_test/test_data/ref/fasta/Homo_sapiens_assembly38_chr20_chrM.fasta'
}

